button#search {
    position: relative;
    top: 25px;
    left: 15px;
}

div#searchResult {
    overflow-y: auto;
    max-height: 410px;
}

div#searchResult ul.collection {
    border: 0;
}

div#searchResult li.collection-item {
    border: 1px black !important;
}

div#video {
    padding-top: 150px;
    text-align: center;
    border: solid 1px black; 
    height: 400px;
}

.modal .modal-content {
    padding: 10px !important;
}

.modal .modal-content  h4{
    margin: 0 !important;
}

.player-wrapper-border {
    position: relative;
    border: solid 1px black;
    padding-top: 56.25%; /* 1080 / 1980 = 0.5625 */
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 1080 / 1980 = 0.5625 */
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 902px) {
    
    .entityLogo {
        width: 55%;
        height: auto;
    }

}

@media screen and (max-width: 902px) {

    .entityLogo {
        width: 100%;
        height: auto;
    }

}